/* Base Styles */

/* Reset default styles for headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
}

/* Always force a scrollbar in non-IE browsers */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment */
a:focus, a:active {
  outline: none;
}

/* Ordered lists use decimal numbering */
ol {
  list-style-type: decimal;
}

/* Small text is 85% of the default font size */
small {
  font-size: 85%;
}

/* Bold text and table headers use bold font weight */
strong, th {
  font-weight: bold;
}

/* Vertical alignment for table cells and table cell images */
td, td img {
  vertical-align: top;
}

/* Position sub and sup elements without affecting line height */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Textareas have overflow set to auto */
textarea {
  overflow: auto;
}

/* Legend elements in IE6 and IE7 have left margin adjusted */
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

/* Align form elements with their labels */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

/* Pointer cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

/* Remove 2px margin from form elements in webkit browsers */
button,
input,
select,
textarea {
  margin: 0;
}

/* Style buttons in IE */
button {
  width: auto;
  overflow: visible;
}

/* Bicubic resizing for non-native sized IMG in IE7 */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* Non-semantic helper classes */

/* Hide elements for both screenreaders and browsers */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide elements visually, but keep them available for screenreaders */
.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/* Hide elements visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Clearfix solution to prevent margin collapsing */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
