{% macro render_image(image_data) -%}
  {% with {
    description: image_data.description|default(''),
    base: image_data.base|default('')|string,
    name: image_data.name|default('')|string,
    extension: image_data.extension|default('')
  } %}
    {% if base and name %}
      <a
        title="{{ description }}"
        target="_hyde_basic"
        href="{{ base ~ '/sizes/o' ~ extension }}"
      >
        <img
          src="{{ base ~ '/sizes/s' ~ extension }}"
          alt="{{ description }}"
        >
      </a>
    {% else %}
      <p>Error: invalid image data.</p>
    {% endif %}
  {% endwith %}
{%- endmacro %}

{% macro render_ember(data) -%}
  {% if data.images %}
    <figure>
      {% for image in data.images %}
        {{ render_image(image) }}
      {% endfor %}
      <figcaption>Hyde Basic Template - Screenshots</figcaption>
    </figure>
  {% else %}
    <p>No images found.</p>
  {% endif %}
{%- endmacro %}
